NEITStoreOrdersService/ConsoleApplication1/Service References/ServiceReference1/NEITStoreOrdersService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:4099/NEITStoreOrdersService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/NEITStoreOrdersService" />
  <xs:element name="ReturnAmountEarned">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="balance" type="xs:float" />
        <xs:element minOccurs="0" name="interest" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnAmountEarnedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReturnAmountEarnedResult" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBankInformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AccountID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBankInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/NEITStoreOrdersService" minOccurs="0" name="GetBankInformationResult" nillable="true" type="q1:BankAccount" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>