NEITStoreOrdersService/ConsoleApplication1/Service References/ServiceReference1/NEITStoreOrdersService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/NEITStoreOrdersService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/NEITStoreOrdersService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="BankAccount">
    <xs:sequence>
      <xs:element minOccurs="0" name="account" nillable="true" type="tns:ArrayOfAccounts" />
      <xs:element minOccurs="0" name="accountID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="accountName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BankAccount" nillable="true" type="tns:BankAccount" />
  <xs:complexType name="ArrayOfAccounts">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Accounts" nillable="true" type="tns:Accounts" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAccounts" nillable="true" type="tns:ArrayOfAccounts" />
  <xs:complexType name="Accounts">
    <xs:sequence>
      <xs:element minOccurs="0" name="accountType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="options" nillable="true" type="tns:Options" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Accounts" nillable="true" type="tns:Accounts" />
  <xs:complexType name="Options">
    <xs:sequence>
      <xs:element minOccurs="0" name="FreeChecking" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OverDraftProtection" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Options" nillable="true" type="tns:Options" />
</xs:schema>