OrderServiceWCF/ConsoleApplication1/Service References/Orderz/OrderService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/OrderServiceWCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/OrderServiceWCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Item" nillable="true" type="tns:Item" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfItem" nillable="true" type="tns:ArrayOfItem" />
  <xs:complexType name="Item">
    <xs:sequence>
      <xs:element minOccurs="0" name="Color" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PartNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Quantity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Size" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalCost" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UnitPrice" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Item" nillable="true" type="tns:Item" />
  <xs:complexType name="BillingInformation">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZipCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BillingInformation" nillable="true" type="tns:BillingInformation" />
</xs:schema>