UsingWCF/OrderServiceWCF/ConsoleApplication1/Service References/Orderz/OrderService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="OrderService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:4228/OrderService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:4228/OrderService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:4228/OrderService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/OrderServiceWCF" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IOrderService_GetNumberOfOrders_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNumberOfOrders" />
  </wsdl:message>
  <wsdl:message name="IOrderService_GetNumberOfOrders_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNumberOfOrdersResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderService_GetTotalCostForAnOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTotalCostForAnOrder" />
  </wsdl:message>
  <wsdl:message name="IOrderService_GetTotalCostForAnOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTotalCostForAnOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderService_GetItemListForOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:GetItemListForOrder" />
  </wsdl:message>
  <wsdl:message name="IOrderService_GetItemListForOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetItemListForOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderService_HowManyOrderedForAPartNo_InputMessage">
    <wsdl:part name="parameters" element="tns:HowManyOrderedForAPartNo" />
  </wsdl:message>
  <wsdl:message name="IOrderService_HowManyOrderedForAPartNo_OutputMessage">
    <wsdl:part name="parameters" element="tns:HowManyOrderedForAPartNoResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderService_GetBillinAddressForAnOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBillinAddressForAnOrder" />
  </wsdl:message>
  <wsdl:message name="IOrderService_GetBillinAddressForAnOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBillinAddressForAnOrderResponse" />
  </wsdl:message>
  <wsdl:portType name="IOrderService">
    <wsdl:operation name="GetNumberOfOrders">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderService/GetNumberOfOrders" message="tns:IOrderService_GetNumberOfOrders_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderService/GetNumberOfOrdersResponse" message="tns:IOrderService_GetNumberOfOrders_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTotalCostForAnOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderService/GetTotalCostForAnOrder" message="tns:IOrderService_GetTotalCostForAnOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderService/GetTotalCostForAnOrderResponse" message="tns:IOrderService_GetTotalCostForAnOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetItemListForOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderService/GetItemListForOrder" message="tns:IOrderService_GetItemListForOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderService/GetItemListForOrderResponse" message="tns:IOrderService_GetItemListForOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HowManyOrderedForAPartNo">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderService/HowManyOrderedForAPartNo" message="tns:IOrderService_HowManyOrderedForAPartNo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderService/HowManyOrderedForAPartNoResponse" message="tns:IOrderService_HowManyOrderedForAPartNo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBillinAddressForAnOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderService/GetBillinAddressForAnOrder" message="tns:IOrderService_GetBillinAddressForAnOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderService/GetBillinAddressForAnOrderResponse" message="tns:IOrderService_GetBillinAddressForAnOrder_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IOrderService" type="tns:IOrderService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetNumberOfOrders">
      <soap:operation soapAction="http://tempuri.org/IOrderService/GetNumberOfOrders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTotalCostForAnOrder">
      <soap:operation soapAction="http://tempuri.org/IOrderService/GetTotalCostForAnOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetItemListForOrder">
      <soap:operation soapAction="http://tempuri.org/IOrderService/GetItemListForOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HowManyOrderedForAPartNo">
      <soap:operation soapAction="http://tempuri.org/IOrderService/HowManyOrderedForAPartNo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBillinAddressForAnOrder">
      <soap:operation soapAction="http://tempuri.org/IOrderService/GetBillinAddressForAnOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OrderService">
    <wsdl:port name="BasicHttpBinding_IOrderService" binding="tns:BasicHttpBinding_IOrderService">
      <soap:address location="http://localhost:4228/OrderService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>